body                                                        {
  .blue                                                     {
    background-color: #0086B5;
  }
  .coral {
    background-color: #34495e;
    }

  .red {
    background-color: #ca5441;
    }

  .green {
    background-color: #82b552;
    }
  }
