// =========================================================
// Header
// =========================================================
header                                                      {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
  }
// =========================================================


// =========================================================
// Side Navigation & Menu
// =========================================================
#navigation                                                 {
  display: block;
  position: absolute;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #242629;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // box-shadow: -10px 10px 20px 2px rgba(0, 0, 0, 0.3) inset;
  transform: translateX(0);
  }
.innerMenu                                                  {
  overflow: hidden;
  padding: 5px 0 25px;
  }
.logo-img                                                   {
  width: 140px;
  margin: 80px auto 25px;
  text-align: center;
  border: 2px solid #3A3C3F;
  border-radius: 5px;

  img                                                       {
    width: 140px;
    }
  }
.logo-img::before                                           {
  content: "V 2";
  display: block;
  color: #ddd;
  margin: -11px auto -10px;
  margin-right: -15px;
  padding: 2px 0;
  width: 30px;
  text-align: center;
  background-color: #3A3C3F;
  font-size: 60%;
  border: 2px solid #242629;
  border-radius: 4px;
  }
.menu                                                       {
  display: block;
  font-weight: bold;
  margin: 1px 0;
  padding: 0;
  background: transparent;
  box-shadow: 0 -1px 0 1px rgba(255, 255, 255, 0.04);
  z-index: 99;

  a {
    display: block;
    color: #ddd;
    padding: 17px 10px;
    font-size: 16px;
    line-height: 16px;
    }
  img {
    width: 16px;
    float: right;
    border-radius: 50%;
    background-color: #ffba3c;
    box-shadow: 0 0 0 2px #ffba3c;
    -webkit-transform: rotate(0);
    -webkit-transition: all .3s linear;
    }
  }
.subMenu                                                    {
  width: 100%;
  display: block;
  display: none;
  }
.subMenuList                                                {
  display: block;
  color: #eee;
  padding: 16px 0 16px 15px;
  font-size: 80%;
  background: rgba(0, 0, 0, 0.4);
  margin: 2px 0;
  }
.smallnav                                                   {
  margin-right: 6px;
  background-color: #eee;
  padding: 0.8px 4px 1px;
  font-weight: bold;
  color: #444;
  border-radius: 4px;
  zoom: 0.9;
  }
// =========================================================


// =========================================================
// drawer
// =========================================================
.drawer                                                     {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
  span                                                      {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    background: #fff;
    border-radius: 4px;
    opacity: 1;
    left: 10px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    }
  span:nth-child(1)                                         {
    top: 16px;
    }
  span:nth-child(2), span:nth-child(3)                      {
    top: 23px;
    }
  span:nth-child(4)                                         {
    top: 30px;
    }
  }
.obj-logo                                                   {
  float: right;
  width: 180px;
  height: 50px;
  margin: 0;
  }
// =========================================================


#content.menu-open                                          {
  opacity: 0.04;
  transform: translateX(270px);
  }
#content.menu-open.on-flow                                  {
  overflow: hidden;
  }
#navigation.menu-open                                       {
  transform: translateX(270px);
  }
#drawer.menu-open                                           {
  background-color: rgba(0,0,0,0.5);

  span:nth-child(1)                                         {
    top: 23px;
    width: 0%;
    opacity: 0;
    left: 50%;
    }
  span:nth-child(2)                                         {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
  span:nth-child(3)                                         {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
  span:nth-child(4)                                         {
    top: 23px;
    width: 0%;
    opacity: 0;
    left: 50%;
    }
  }
